@model mvc_task.Models.manage_product

@{
    ViewBag.Title = "add_product";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}


<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Add/Update Product</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
            @using (Html.BeginForm("insert_products", "admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Product Name</label>
                            <input type="text" class="form-control" placeholder="Enter Product Name ..." name="ProductName" value="@Model.ProductName">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>OEM</label>
                            <input type="text" class="form-control" placeholder="Enter OEM ..." name="OEM" value="@Model.OEM">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>licenceNo</label>
                            <input type="text" class="form-control" placeholder="Enter licenceNo ..." name="licenceNo" value="@Model.licenceNo">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Part No.</label>
                            <input type="text" class="form-control" placeholder="Enter Part No ..." name="PartNo" value="@Model.PartNo">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" class="form-control" placeholder="Enter Price ..." name="Price" value="@Model.Price">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>HSNNo</label>
                            <input type="text" class="form-control" placeholder="Enter HSN No ..." name="HSNNo" value="@Model.HSNNo">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>AMC Price</label>
                            <input type="text" class="form-control" placeholder="Enter AMC Price ..." name="AMCPrice" value="@Model.AMCPrice">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" placeholder="Enter Description ..." name="Description" value="@Model.Description">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Upload  File</label> <br>
                    <div class="col-sm-10">
                        <input type="file" id="" name="fileupload1" class="dropify" data-default-file="@Model.File_Path" />
                        <input type="hidden" name="File_Path" value="@Model.File_Path" />
                    </div>
                </div>


                <div class="row m-t-30">
                    <div class="col-md-12">
                        <input type="hidden" name="id" value="@Model.id" />
                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Submit</button>
                    </div>
                </div>
            }
    </div>
    <!-- /.card-body -->
</div>