@model mvc_task.Models.manage_sequence

@{
    ViewBag.Title = "add_sequence";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}




<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Add/Update Sequence</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
            @using (Html.BeginForm("insert_sequence", "admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Branch</label>
                            <input type="text" class="form-control" placeholder="Enter Branch..." name="Branch" value="@Model.Branch">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>QuotationPrefixNo</label>
                            <input type="text" class="form-control" placeholder="Enter Quotation Prefix No..." name="QuotationPrefixNo" value="@Model.QuotationPrefixNo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>QuotationNo</label>
                            <input type="text" class="form-control" placeholder="Enter Branch..." name="Branch" value="@Model.Branch">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>SaleBookPrefixNo</label>
                            <input type="text" class="form-control" placeholder="Enter Quotation No. ..." name="QuotationNo" value="@Model.QuotationNo">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>SaleBook No</label>
                            <input type="text" class="form-control" placeholder="Enter SaleBook No..." name="SaleBookNo" value="@Model.SaleBookNo">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>PI Prefix No</label>
                            <input type="text" class="form-control" placeholder="Enter PI Prefix No..." name="PIPrefixNo" value="@Model.PIPrefixNo">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>PI No.</label>
                            <input type="text" class="form-control" placeholder="Enter PI No..." name="PINo" value="@Model.PINo">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>PO PrefixNo</label>
                            <input type="text" class="form-control" placeholder="Enter POPrefixNo..." name="POPrefixNo" value="@Model.POPrefixNo">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>PO No.</label>
                            <input type="text" class="form-control" placeholder="Enter PO No. ..." name="PONo" value="@Model.PONo">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>InvoicePrefixNo</label>
                            <input type="text" class="form-control" placeholder="Enter Invoice PrefixNo..." name="InvoicePrefixNo" value="@Model.InvoicePrefixNo">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <!-- textarea -->
                        <div class="form-group">
                            <label>InvoiceNo</label>
                            <input type="text" class="form-control" placeholder="Enter Invoice No..." name="InvoiceNo" value="@Model.InvoiceNo">
                        </div>
                    </div>

                </div>


                <div class="row m-t-30">
                    <div class="col-md-12">
                        <input type="hidden" name="id" value="@Model.id" />
                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Submit</button>
                    </div>
                </div>
            }
    </div>
    <!-- /.card-body -->
</div>
