@model mvc_task.Models.manage_quotation

@{
    ViewBag.Title = "add_quotation";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}





<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Add/Update PI</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        @using (Html.BeginForm("insert_quotation", "admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Quotation_No</label>
                        <input type="number" class="form-control" placeholder="Enter Quotation_No..." name="Quotation_No" value="@Model.Quotation_No">
                    </div>
                </div>

                <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Lead_Reference</label>
                        <input type="text" class="form-control" placeholder="Enter Lead_Reference..." name="Lead_Reference" value="@Model.Lead_Reference">
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Client_Name</label>
                        <input type="text" class="form-control" placeholder="Enter Client_Name..." name="Client_Name" value="@Model.Client_Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Contact_Person_No</label>
                        <input type="number" class="form-control" placeholder="Enter Contact_Person_No..." name="Contact_Person_No" value="@Model.Contact_Person_No">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email..." name="Email" value="@Model.Email">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Company_Number</label>
                        <input type="number" class="form-control" placeholder="Enter Company_Number..." name="Company_Number" value="@Model.Company_Number">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" placeholder="Enter Address..." name="Address" value="@Model.Address">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Employee</label>
                        <input type="text" class="form-control" id="Employee" name="Employee" placeholder="Enter Employee ...." value="@Model.Employee">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Branch</label>
                        <input type="text" class="form-control" placeholder="Enter Branch..." name="Branch" value="@Model.Branch">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Select_Bill_TO</label>
                        <input type="text" class="form-control" placeholder="Enter  Select_Bill_TO..." name="Select_Bill_TO" value="@Model.Select_Bill_TO">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="date" class="form-control" id="Date" name="Date" placeholder="DD/MM/YYYY" value="@Model.Date">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                        <label>PromoCode</label>
                        <input type="text" class="form-control" placeholder="Enter PromoCode ..." name="PromoCode" value="@Model.PromoCode">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Domain ID</label>
                        <input type="text" class="form-control" placeholder="Enter Domain ID..." name="DomainID" value="@Model.DomainID">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Select_Ship_TO</label>
                        <input type="text" class="form-control" placeholder="Enter Select_Ship_TO..." name="Select_Ship_TO" value="@Model.Select_Ship_TO">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Add POR No</label>
                        <input type="text" class="form-control" placeholder="Enter Add_PORNo..." name="Add_PORNo" value="@Model.Add_PORNo">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                        <label>LAN_ID</label>
                        <input type="text" class="form-control" id="LAN_ID" name="LAN_ID" placeholder="Enter LAN_ID" value="@Model.LAN_ID" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>InState_OutState</label>
                        <input type="text" class="form-control" placeholder="Enter InState_OutState..." name="InState_OutState" value="@Model.InState_OutState">
                    </div>
                </div>
            </div>




            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Tax (%)</label>
                        <input type="number" class="form-control" placeholder="Enter Tax..." name="Tax" value="@Model.Tax">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>TAX Amount</label>
                        <input type="number" class="form-control" placeholder="Enter TAX Amount..." name="TAX_Amount" value="@Model.TAX_Amount">
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Price Before TAX </label>
                        <input type="number" class="form-control" placeholder="Enter Price Before TAX..." name="Price_Before_TAX" value="@Model.Price_Before_TAX">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Price After TAX</label>
                        <input type="number" class="form-control" placeholder="Enter Price After TAX..." name="Price_After_TAX" value="@Model.Price_After_TAX">
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Generated Date </label>
                        <input type="date" class="form-control" id="Sale Generated_Date " name="Generated_Date" placeholder="DD/MM/YYYY" value="@Model.Generated_Date">
                    </div>
                </div>
            </div>

            <div class="row m-t-30">
                <div class="col-md-12">
                    <input type="hidden" name="id" value="@Model.id" />
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Submit</button>
                </div>
            </div>
        }
    </div>
    <!-- /.card-body -->
</div>



